<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
       <httpErrors errorMode="Detailed" />
       <defaultDocument>
           <files>
               <clear />
               <add value="index.php" />
           </files>
       </defaultDocument>
       <rewrite>
           <rules>
               <rule name="Laravel Force public" stopProcessing="true">
                   <match url="(.*)" ignoreCase="false" />
                   <action type="Rewrite" url="public/{R:1}" />
               </rule>
               <rule name="Laravel Routes" stopProcessing="true">
                   <conditions>
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                   </conditions>
                   <match url="^" ignoreCase="false" />
                   <action type="Rewrite" url="public/index.php" />
               </rule>
           </rules>
       </rewrite>
       <staticContent>
           <remove fileExtension=".task" />
           <mimeMap fileExtension=".task" mimeType="application/octet-stream" />
           <remove fileExtension=".wasm" />
           <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
           <remove fileExtension=".json" />
           <mimeMap fileExtension=".json" mimeType="application/json" />
       </staticContent>
   </system.webServer>
</configuration>
